<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title">{{Program.ProgramName}}'s Detail</h5>
        <button type="button" class="btn-close" id="ModalClose" (click)="closeModal()" aria-label="Close"></button>
    </div>
    <div class="card">
        <div class="card-body">
            
            <table class="table table-bordered mt-2">
                <thead>
                <tr>
                    <th scope="col" rowspan="2" style="border: 1px solid black;">ተ.ቁ</th>
                    <th scope="col" rowspan="2" style="border: 1px solid black;">ስትራቴጂክ ግቦች፣ ዋና ዋና ተግባራት እና ዝርዝር ቁልፍ የአፈፃፀም አመልካቾች</th>
                    <th scope="col" rowspan="2" style="border: 1px solid black;">ክብደት</th>
                    <th scope="col" rowspan="2" style="border: 1px solid black;">መለኪያ</th>
                    <th scope="col" rowspan="2" style="border: 1px solid black;">የ{{+(Program.ProgramBudgetYear.split(" (")[0]) - 1}} አፈጻጸም (መነሻ)</th>
                    <th scope="col" rowspan="2" style="border: 1px solid black;">የ{{Program.ProgramBudgetYear.split(" (")[0]}} እቅድ (ዓመታዊ)</th>
                    <th scope="col" colspan="4" style="border: 1px solid black;">ሩብ ዓመት እቅድ</th>
                    <th scope="col" rowspan="2" style="border: 1px solid black;">ፈፃሚ የስራ ክፍል (ዳይሬክቶሬት)</th>
                </tr>
                <tr>
                    <th scope="col" style="border: 1px solid black;">1ኛ</th>
                    <th scope="col" style="border: 1px solid black;">2ኛ</th>
                    <th scope="col" style="border: 1px solid black;">3ኛ</th>
                    <th scope="col" style="border: 1px solid black;">4ኛ</th>
                </tr>
                </thead>  
                <ng-template ngFor let-plan [ngForOf]="Plans" let-index="index">                
                    <tbody class="labels">

                    
                    <tr>
                        <td style="border: 1px solid black; background-color: #D5FFFF">{{index + 1}}</td>
                        <td colspan="10" style="border: 1px solid black; background-color: #D5FFFF" >
                            {{plan.PlanName}} (ክብደት {{plan.PlanWeight}})
                        </td>
                    </tr>
                    </tbody>
                    <ng-template ngFor let-task [ngForOf]="planTasks.get(plan.Id)" let-index1="index">
                        <tbody class="labels">
                        
                        <tr >
                            <td style="border: 1px solid black; background-color: #e8ffde ">{{index + 1}}.{{index1 + 1}}</td>
                            <td colspan="10" style="border: 1px solid black;  background-color: #e8ffde">
                                {{task.TaskName}} (ክብደት {{task?.TaskWeight}})
                            </td>
                        </tr>
                        </tbody>
                    
                        <ng-template ngFor let-act [ngForOf]="taskActivities.get(task.Id)" let-index2="index">
                            <tbody>
                            <tr>
                                <td style="border: 1px solid black;">{{index + 1}}.{{index1 + 1}}.{{index2 + 1}}</td>
                                <td style="border: 1px solid black;">{{act.Name}}</td>
                                <td style="border: 1px solid black;">{{act.Weight}}</td>
                                <td style="border: 1px solid black;">{{act.UnitOfMeasurment}}</td>
                                <td style="border: 1px solid black;">{{act.Begining}}</td>
                                <td style="border: 1px solid black;">{{act.Target}}</td>
                                <td style="border: 1px solid black;">{{ (act?.MonthPerformance[0]?.Planned || 0) + (act?.MonthPerformance[1]?.Planned || 0) + (act?.MonthPerformance[2]?.Planned || 0) }}</td>
                                <td style="border: 1px solid black;">{{ (act?.MonthPerformance[3]?.Planned || 0) + (act?.MonthPerformance[4]?.Planned || 0) + (act?.MonthPerformance[5]?.Planned || 0) }}</td>
                                <td style="border: 1px solid black;">{{ (act?.MonthPerformance[6]?.Planned || 0) + (act?.MonthPerformance[7]?.Planned || 0) + (act?.MonthPerformance[8]?.Planned || 0) }}</td>
                                <td style="border: 1px solid black;">{{ (act?.MonthPerformance[9]?.Planned || 0) + (act?.MonthPerformance[10]?.Planned || 0) + (act?.MonthPerformance[11]?.Planned || 0) }}</td>
                                <td style="border: 1px solid black;">የሁሉም ፈጻሚ አካላት</td>
                            </tr>                    
                            </tbody>
                        </ng-template>
                    </ng-template>
                </ng-template>   
            </table>
        </div>
    </div>
</div>
