<div class="card-body">
    <h5 class="card-title">Case Files</h5>


    <div class="modal-body">
        <div class="row g-3">
            <div class="col-md-4 ">

                <label for="inputNumber" class="col-sm-12 col-form-label">Document</label>
                <div class="col-sm-12"> <input (change)="onFileSelected($event)" multiple class="form-control"
                        type="file" id="formFile"></div>

                <!-- <ngx-doc-scanner *ngIf="image" [file]="image" [config]="config"
                        (editResult)="editResult($event)" (exitEditor)="exitEditor($event)"
                        (error)="onError($event)" (processing)="editorState($event)"></ngx-doc-scanner> -->
                <!-- <ngx-document-scanner></ngx-document-scanner> -->
                <app-scanner (imagesScannedUpdated)="onImagesScannedUpdate($event)"></app-scanner>
                <label for="inputNumber" class="col-sm-12 col-form-label">{{case.CaseId}}</label>
                <qrcode [qrdata]="case.CaseId" [width]="256" [errorCorrectionLevel]="'M'"></qrcode>
                <div *ngIf="mobileUplodedFiles && mobileUplodedFiles.length > 0">
                    <label for="inputNumber" class="col-sm-12 col-form-label">Mobile Uploded Files</label>
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th scope="col">File</th>
                                <th scope="col">Action</th>
                                <!-- <th scope="col">Files /Statments</th> -->
                                <!-- <th scope="col">Document Checked</th> -->

                            </tr>
                        </thead>
                        <tbody>

                            <tr *ngFor="let attachment of mobileUplodedFiles; let i = index">
                                <th>File {{i+1}}</th>
                                <th>

                                    <a class="btn btn-outline-primary m-2" [href]="viewFile(attachment.filePath)"
                                        target="_blank">
                                        View File
                                    </a>

                                    <!-- <a class="btn btn-outline-danger m-2" (click)="RemoveFile(attachment.Id)">
                                                    Remove File
                                                </a> -->
                                </th>

                            </tr>

                        </tbody>
                    </table>
                </div>

            </div>

            <div class="col-md-8">
                <label for="inputNumber" class="col-sm-12 col-form-label">Expected Files</label>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">File Name</th>
                            <!-- <th scope="col">Files /Statments</th> -->
                            <!-- <th scope="col">Document Checked</th> -->

                        </tr>
                    </thead>
                    <tbody>

                        <tr *ngFor="let fileSetting of fileSettings; let i = index">
                            <th>{{i+1}}</th>
                            <th>{{fileSetting.Name}}</th>
                            <!-- <th><input id={{i}} class="form-control" required
                                        (change)="onFileSettongSelected(fileSetting.Id,$event)" type="file">
                                </th> -->
                        </tr>

                    </tbody>
                </table>



            </div>

            

            <div class="modal-footer"> <button type="button" class="btn btn-secondary"
                    (click)="closeModal()">Close</button>
                <button type="button" type="submit" (click)="submit()" class="btn btn-success">Create</button>
            </div>
        </div>
    </div>
</div>