<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title">Assign {{activity.Name}} to Branch target</h5>
        <button type="button" class="btn-close" id="ModalClose" (click)="closeModal()" aria-label="Close"></button>
    </div>

    <div class="card">

        <div class="card-body">
            <h3  class="card-title">Start Date : {{activity.StartDate|date:"dd MMM yyyy"}} - End Date : {{activity.EndDate|date:"dd MMM yyyy"}}  </h3>

           
            <div class="col-md-6">
                <div class="form-floating mb-3">
                    <select class="form-select" id="caseType" [(ngModel)]="selectedCaseType">

                        <option *ngFor="let case of caseTypes" value={{case.Id}}>{{case.CaseTypeTitle}}
                        </option>

                    </select>
                    <label for="caseType">Case Types  </label>
                </div>
            </div>

            <h5  style="text-align: right;">
                Overall Target : <b>{{activity.Target }} {{activity.UnitOfMeasurment}}</b><br/>
                Overall Budget : <b> {{activity.PlannedBudget}} ETB</b>
                Overall Weight : <b> {{activity.Weight}} %</b>
            
            <br/>
            
            </h5>
            <hr />



            <div class="row gy-3 gx-3 ">


                <div class="col-md-6" *ngFor="let tar of actTargets.controls;">
                    <ng-container  [formGroup]="tar">
                <div style="text-align:center; padding: 25px; background-color : #f6f9ff;">
                    <span style="text-align: center !important;">
                        <input class="form-control" formControlName="BranchName" readonly />                     
                    </span>
                    <div class="row mt-2">
                        <div class="col-md-4">
                            <div class="form-floating">
                                <input type="number"  formControlName="Target" class="form-control" id="Target" placeholder="Target"
                                    >
                                <label for="Target">Target</label>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-floating">
                                <input type="number" class="form-control" id="Budget" placeholder="Budget"
                                 formControlName = "Budget"  >
                                <label for="Budget">Budget</label>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-floating">
                                <input type="number" class="form-control" id="weight" placeholder="weight"
                                 formControlName = "Weight"  >
                                <label for="weight">Weight</label>
                            </div>
                        </div>


                    </div>

                </div>
            </ng-container>
            </div>




        </div>
        <div class="modal-footer"> <button type="button" class="btn btn-secondary"
            (click)="closeModal()">Close</button>
        <button type="button" type="submit" (click)="submitTarget()"
            class="btn btn-success">Assign Target  </button>
    </div>
    </div>
</div>