  
:host ::ng-deep .p-organizationchart .p-organizationchart-line-down {
    background: #000000;
}
:host ::ng-deep .p-organizationchart .p-organizationchart-line-left {
    border-right: 1px solid #000000;
    border-color: #000000;
}
:host ::ng-deep .p-organizationchart .p-organizationchart-line-top {
    border-top: 1px solid #000000;
    border-color: #000000;
}