<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title"> Change Password</h5>
        <button type="button" class="btn-close" id="ModalClose" (click)="closeModal()" aria-label="Close"></button>
    </div>

    <div class="card">
        <div class="card-body">

    <form [formGroup]="PasswordForm" (submit)="onSubmit()">
        <div class="p-fluid p-formgrid grid">
            <div class="modal-body">
                <div class="row g-3">
            
        
            <!-- <div class="field col-12 ">
                <label htmlFor="firstname2">Current Password</label>
                <input pInputText id="firstname2" formControlName="CurrentPassword" type="text" />
            </div> -->
            <!-- <div class="col-md-12"> <label for="inputName5" class="form-label">Current Password</label>

                <input type="text" class="form-control" id="CurrentPassword" placeholder="Current Password"
                    formControlName="CurrentPassword">
            </div> -->
            <!-- <div class="field col-12 ">
                <label htmlFor="firstname2">New Password</label>
                <input pInputText id="firstname2" formControlName="NewPassword" type="text" />
            </div> -->
            <div class="col-md-12"> <label for="NewPassword" class="form-label">New Password</label>

                <input type="text" class="form-control" id="NewPassword" placeholder="New Password"
                    formControlName="NewPassword">
            </div>
            <!-- <div class="field col-12 ">
                <label htmlFor="firstname2">Confirm New Password</label>
                <input pInputText id="firstname2" formControlName="ConfirmPassword" type="text" />
            </div> -->
            <div class="col-md-12"> <label for="ConfirmPassword" class="form-label">Confirm Password</label>

                <input type="text" class="form-control" id="ConfirmPassword" placeholder="Confirm Password"
                    formControlName="ConfirmPassword">
            </div>
                </div>
            </div>
            <div class="modal-footer"> <button type="button" class="btn btn-secondary"
                (click)="closeModal()">Close</button>
            <button type="button" type="submit" [disabled]="!PasswordForm.valid" class="btn btn-success">Change Password</button>
            </div>
            <!-- <button pButton type="submit" [disabled]="!PasswordForm.valid" label="Submit"></button> -->
        </div>
    </form>
</div>