<main id="main" class="main">
    <div class="pagetitle">
        <h1>Projects</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
                <li class="breadcrumb-item">Projects</li>
                <li class="breadcrumb-item active">Detail</li>
            </ol>
        </nav>
    </div>

    <div class="card" #excelTable>
        <div class="card-body p-2" *ngIf="Plans">



            <div class="row">
                <div class="col-9">

                </div>

                <div class="col-3 text-end">
                    <label class="form-label">Filter By</label>
                    <select class="form-control " [(ngModel)]="filterBy" (change)="onFilterByChange()">

                        <option value=0>Monthly</option>
                        <option value=1>Quarterly</option>
                    </select>
                </div>

            </div>
            

            <h6 class="mt-2">Project: <b>{{Plans.PlanName}} </b> </h6>
            
            <!-- <h6>Project Number: <b>{{Plans.projectNumber}}</b></h6> -->
            <h6>Period of Performance:
                <b>{{Plans.StartDate |date:"dd MMM YYYY"}} - {{Plans.EndDate |date:"dd MMM YYYY"}} </b>
            </h6>
            <div class="text-end col-lg-12">
                <button class="btn btn-outline-primary text-end mb-3" (click)="addTask()"><i
                        class="bi bi-plus me-1"></i> Task </button> |
                <button class="btn btn-outline-success text-end mb-3" (click)="exportAsExcel(Plans.PlanName)"><i
                        class="bi bi-file-excel"></i> Export Excel </button>
            </div>
            <div class="table-responsive">
                <table class="table table-bordered mt-2 " id="myTable">
                    <thead>
                        <tr>
                            <th scope="col" [attr.rowspan]="filterBy==0?3:2" style="border: 1px solid black;">
                                Task/Activity</th>
                            <th scope="col" [attr.rowspan]="filterBy==0?3:2" style="border: 1px solid black">Description
                            </th>
                            <th scope="col" [attr.rowspan]="filterBy==0?3:2" style="border: 1px solid black;">Weight
                            </th>
                            <th scope="col" [attr.rowspan]="filterBy==0?3:2" style="border: 1px solid black;">Indicator
                            </th>
                            <th scope="col" [attr.rowspan]="filterBy==0?3:2" style="border: 1px solid black;">Baseline
                            </th>
                            <th scope="col" [attr.rowspan]="filterBy==0?3:2" style="border: 1px solid black;">Annual
                                Target
                            </th>
                            <th scope="col" [attr.colspan]="filterBy==0?16:4" style="border: 1px solid black;">Target
                            </th>
                            <th scope="col" [attr.rowspan]="filterBy==0?3:2" style="border: 1px solid black;">Budget
                            </th>
                            <!-- <th scope="col" [attr.rowspan]="filterBy==0?3:2" style="border: 1px solid black;">Source of
                                Budget</th> -->
                        </tr>

                        <tr>
                            <th scope="col" [attr.colspan]="filterBy==0?4:0" style="border: 1px solid black;">Q1</th>
                            <th scope="col" [attr.colspan]="filterBy==0?4:0" style="border: 1px solid black;">Q2</th>
                            <th scope="col" [attr.colspan]="filterBy==0?4:0" style="border: 1px solid black;">Q3</th>
                            <th scope="col" [attr.colspan]="filterBy==0?4:0" style="border: 1px solid black;">Q4</th>
                            <!-- <th scope="col" [attr.colspan]="filterBy==0?4:0" style="border: 1px solid black;">Q1</th>
                            <th scope="col" [attr.colspan]="filterBy==0?4:0" style="border: 1px solid black;">Q2</th>
                            <th scope="col" [attr.colspan]="filterBy==0?4:0" style="border: 1px solid black;">Q3</th>
                            <th scope="col" [attr.colspan]="filterBy==0?4:0" style="border: 1px solid black;">Q4</th> -->
                            <!-- <th scope="col" [attr.rowspan]="filterBy==0?2:1" style="border: 1px solid black;">Total
                                Budget</th> -->
                        </tr>
                        <tr *ngIf="filterBy==0">
                            <th scope="col" style="border: 1px solid black;background-color: #e8ffde;">Q1</th>
                            <th scope="col" style="border: 1px solid black;background-color: #fdf584;">Jul</th>
                            <th scope="col" style="border: 1px solid black;background-color: #fdf584;">Aug</th>
                            <th scope="col" style="border: 1px solid black;background-color: #fdf584;">Sep</th>

                            <th scope="col" style="border: 1px solid black;background-color: #e8ffde;">Q2</th>
                            <th scope="col" style="border: 1px solid black;background-color: #fdf584;">Oct</th>
                            <th scope="col" style="border: 1px solid black;background-color: #fdf584;">Nov</th>
                            <th scope="col" style="border: 1px solid black;background-color: #fdf584;">Dec</th>

                            <th scope="col" style="border: 1px solid black;background-color: #e8ffde;">Q3</th>
                            <th scope="col" style="border: 1px solid black;background-color: #fdf584;">Jan</th>
                            <th scope="col" style="border: 1px solid black;background-color: #fdf584;">Feb</th>
                            <th scope="col" style="border: 1px solid black;background-color: #fdf584;">Mar</th>

                            <th scope="col" style="border: 1px solid black;background-color: #e8ffde;">Q4</th>
                            <th scope="col" style="border: 1px solid black;background-color: #fdf584;">Apr</th>
                            <th scope="col" style="border: 1px solid black;background-color: #fdf584;">May</th>
                            <th scope="col" style="border: 1px solid black;background-color: #fdf584;">Jun</th>


                            <!-- <th scope="col" style="border: 1px solid black;background-color: #e8ffde;">Q1 B</th>
                            <th scope="col" style="border: 1px solid black">Oct</th>
                            <th scope="col" style="border: 1px solid black">Nov</th>
                            <th scope="col" style="border: 1px solid black">Dec</th>

                            <th scope="col" style="border: 1px solid black;background-color: #e8ffde;">Q2 B</th>
                            <th scope="col" style="border: 1px solid black">Jan</th>
                            <th scope="col" style="border: 1px solid black">Feb</th>
                            <th scope="col" style="border: 1px solid black">Mar</th>

                            <th scope="col" style="border: 1px solid black;background-color: #e8ffde;">Q3 B</th>
                            <th scope="col" style="border: 1px solid black">Apr</th>
                            <th scope="col" style="border: 1px solid black">May</th>
                            <th scope="col" style="border: 1px solid black">Jun</th>

                            <th scope="col" style="border: 1px solid black;background-color: #e8ffde;">Q4 B</th>
                            <th scope="col" style="border: 1px solid black">Jul</th>
                            <th scope="col" style="border: 1px solid black">Aug</th>
                            <th scope="col" style="border: 1px solid black">Sep</th> -->

                        </tr>

                    </thead>

                    <tbody class="labels">
                        <tr>

                            <td [attr.colspan]="filterBy==0?23:11"
                                style="border: 1px solid black; background-color: #D5FFFF"> </td>
                        </tr>
                    </tbody>
                    <ng-template ngFor let-task [ngForOf]="planTasks.get(Plans.Id)" let-index1="index">
                        <tbody class="labels">
                            <tr>
                                <td style="border: 1px solid black; background-color: #e8ffde ">
                                    Objective {{index1 + 1}}
                                    <button class="btn btn-outline-primary btn-sm" (click)="addActivity(task)"> <i
                                            class="bi bi-plus me-1"></i> {{exportingToExcel?"":"Activity"}} </button>
                                </td>
                                <td [attr.colspan]="filterBy==0?22:10" style="border: 1px solid black;  background-color: #e8ffde;width: 200px; cursor: pointer;" (click)="TaskDetail(task)" >
                                    {{task.TaskName}} ( Weight = {{task.TaskWeight}}  )
                                </td>
                                <!-- <ng-container *ngFor="let item of items; index as i">
                                    <td style="border: 1px solid black; background-color: #eee"></td>
                                </ng-container> -->

                            </tr>
                        </tbody>

                        <ng-template ngFor let-act [ngForOf]="taskActivities.get(task.Id)" let-index2="index">
                            <tbody>
                                <tr>
                                    <td style="border: 1px solid black;">
                                        {{index1 + 1}}.{{index2 + 1}}
                                        <button class="btn btn-outline-primary btn-sm"
                                            *ngIf="(act.MonthPerformance!.length===0)" (click)="AssignTarget(act)" > <i
                                                class="bi bi-plus me-1"></i> Target </button>
                                    </td>
                                    <td style="border: 1px solid black;"(click)="routeToActDetail(act.Id)" style="cursor: pointer;">{{act.Name}}</td>
                                    <td style="border: 1px solid black;">{{act.Weight}}</td>
                                    <td style="border: 1px solid black;">{{act.UnitOfMeasurment}}</td>
                                    <td style="border: 1px solid black;">{{act.Begining}}</td>
                                    <td style="border: 1px solid black;">{{act.Target}}</td>

                                    <ng-container *ngFor=" let item of act?.MonthPerformance; let i= index ">
                                        <td *ngIf="i==0" style="border: 1px solid black;background-color: #e8ffde;">{{
                                            (act?.MonthPerformance[0]?.Planned || 0) +
                                            (act?.MonthPerformance[1]?.Planned || 0) +
                                            (act?.MonthPerformance[2]?.Planned || 0)
                                            }}</td>
                                        <td *ngIf="i==3" style="border: 1px solid black;background-color: #e8ffde;">{{
                                            (act?.MonthPerformance[3]?.Planned || 0) +
                                            (act?.MonthPerformance[4]?.Planned || 0) +
                                            (act?.MonthPerformance[5]?.Planned || 0)
                                            }}</td>
                                        <td *ngIf="i==6" style="border: 1px solid black;background-color: #e8ffde;">{{
                                            (act?.MonthPerformance[6]?.Planned || 0) +
                                            (act?.MonthPerformance[7]?.Planned || 0) +
                                            (act?.MonthPerformance[8]?.Planned || 0)
                                            }}</td>
                                        <td *ngIf="i==9" style="border: 1px solid black;background-color: #e8ffde;">
                                            {{
                                            (act?.MonthPerformance[9]?.Planned ||0) +
                                            (act?.MonthPerformance[10]?.Planned ||0) +
                                            (act?.MonthPerformance[11]?.Planned ||0)
                                            }}
                                        </td>


                                        <td *ngIf="filterBy==0"
                                            style="border: 1px solid black;background-color: #fdf584;"> {{item.Planned}}
                                        </td>
                                    </ng-container>

                                    <!-- <ng-container *ngFor=" let item of act?.MonthPerformance; let i= index ">


                                        <td *ngIf="i==0" style="border: 1px solid black;background-color: #e8ffde;">{{
                                            (act?.MonthPerformance[0]?.plannedBudget || 0) +
                                            (act?.MonthPerformance[1]?.plannedBudget || 0) +
                                            (act?.MonthPerformance[2]?.plannedBudget || 0)
                                            }}</td>
                                        <td *ngIf="i==3" style="border: 1px solid black;background-color: #e8ffde;">{{
                                            (act?.MonthPerformance[3]?.plannedBudget || 0) +
                                            (act?.MonthPerformance[4]?.plannedBudget || 0) +
                                            (act?.MonthPerformance[5]?.plannedBudget || 0)
                                            }}</td>
                                        <td *ngIf="i==6" style="border: 1px solid black;background-color: #e8ffde;">{{
                                            (act?.MonthPerformance[6]?.plannedBudget || 0) +
                                            (act?.MonthPerformance[7]?.plannedBudget || 0) +
                                            (act?.MonthPerformance[8]?.plannedBudget || 0)
                                            }}</td>
                                        <td *ngIf="i==9" style="border: 1px solid black;background-color: #e8ffde;">{{
                                            (act?.MonthPerformance[9]?.plannedBudget || 0) +
                                            (act?.MonthPerformance[10]?.plannedBudget || 0) +
                                            (act?.MonthPerformance[11]?.plannedBudget || 0) 
                                            }}
                                        </td> 

                                        <td *ngIf="filterBy==0"
                                            style="border: 1px solid black;background-color: #fdcd84;">
                                            {{item.plannedBudget}}</td>


                                    </ng-container> -->



                                    <ng-container *ngIf="(act.MonthPerformance!.length===0)">
                                        <td *ngFor="item of items2"> </td>
                                    </ng-container>


                                    <td style="background-color: antiquewhite;border: 1px solid black;">
                                        {{ act?.PlannedBudget }}

                                    </td>
                                    <!-- <td style="border: 1px solid black;">asasasasas</td> -->


                                </tr>
                            </tbody>
                        </ng-template>
                    </ng-template>

                </table>

            </div>
        </div>
    </div>

</main>